
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
  margin: auto;
  background: rgb(6,146,159);
  background: linear-gradient(90deg, rgba(6,146,159,1) 0%, rgba(7,193,182,1) 33%, rgba(184,224,224,1) 100%);
  height: 550px;
  position: relative;
}

.contenido-header{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.contenido-header .left{
    margin-top: 15%;
}

.contenido-header .right{
    margin-top: 8%;
    width: 50%;
     height: 300px;
}
.right img{
    height: 300px;


}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.encabezado .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: left;
    flex-direction: column;
    padding-left: 20px;
    text-align: justify;
}

.textos-header h1 {
    font-size: 36px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

.textos-header h2 {
    font-size: 22px;
    font-weight: 300px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.textos-header h3 {
    color: white;
}

/*---Service---*/
.service{
    background-color: rgb(36, 36, 36);
    color: white;
}

.service h3{
    color: white;
}



.service a.btn:hover{
    color: #ffffff;
    background: #2f8d99;
    border-color: #2f8d99;

}
.titulo2{
    color: white;
}

/*----Junta------*/

.ul-group {
    padding: 0;
    list-style: none;
}


.ul-group li::before {
    position: relative;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.table{
    font-size: 16px;
    width: 90%;
    
}

.table tbody td{
    padding-top: 7px;
    padding-bottom: 7px;

}

.table thead th{
    font-size: 19px;
}

/*---Footer-----*/


/* RESPONSIVE */
@media screen and (max-width: 725px) {

    /*Para el Nav*/
    .navbar .navbar-brand {
        font-size: 20px;
    }
    .encabezado{
        background-position: center;
        height: 450px;
        
    }
    .encabezado .textos-header {
        height: 200px;
        width:100%;
        align-items: left;
        flex-direction: column;
        text-align: left;
    }

    .textos-header h1 {
        font-size: 26px;
        font-weight: bold; 
    }
    
    .textos-header h2 {
        font-size: 20px;
        font-weight: 300px;
    }
    
    .textos-header h3 {
        font-size: 18px;
        color: white;
    }

    .right img{
        height: 110px;
        margin-top: 80%;
    
    }
    /*--------------------------*/

	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
}

