* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    margin: auto;
    background: rgb(197,229,245);
    background: linear-gradient(0deg, rgba(197,229,245,1) 0%, rgba(24,130,199,1) 100%);
    height: 450px;
    position: relative;
  }

.contenido-header{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.contenido-header .left{
    margin-top: 15%;
}

.contenido-header .right{
    margin-top: 11%;
}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.encabezado .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: left;
    flex-direction: column;
    padding-left: 20px;
    text-align: justify;
}

.textos-header h1 {
    font-size: 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.textos-header h3 {
    color: white;
}

video{
    z-index: 1;
}

/*---Footer-----*/

/* RESPONSIVE */
@media screen and (max-width: 767px) {
	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
}